.googleLink {
    display: flex;
    width: 343px;
    height: 48px;
    border: 1px solid var(--accent-color-dark);
    border-radius: 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--accent-color-dark);
}