.googleLink {
  display: flex;
  gap: 8px;
  border: 1px solid var(--accent-color-dark);
  border-radius: 8px;
  padding: 14px 132px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: var(--accent-color-dark);
  background-color: var(--bg-color);
}
.iconGoogle {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1440px) {
  .googleLink {
    padding: 14px 112.5px;
  }
}
