.formLandingForm {
  background-color: var(--bg-color);
}
.selectContainer {
  position: relative;
}
.inputContainer {
  position: relative;
}
.formLandingSelect {
  width: 327px;
  display: block;
  margin: 0 auto 12px auto;
  padding: 10px 12px 10px 46px;
  outline: none;
  border: 1px solid var(--input-def);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--text-color-dark);
  cursor: pointer;
}
.formLandingSelect:focus {
  border: 1px solid var(--accent-color-dark);
}
.formLandingInput {
  display: block;
  width: 269px;
  padding: 10px 12px 10px 46px;
  outline: none;
  border: 1px solid var(--input-def);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--text-color-dark);
  margin: 0 auto 16px auto;
}
.formLandingInput:focus {
  border: 1px solid var(--accent-color-dark);
}
.icon {
  position: absolute;
  top: 10px;
  left: 12px;
}
.button {
  width: 327px;
  padding: 11px 73px;
  border: none;
  border-radius: 8px;
  background-color: var(--accent-color-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--text-color-white);
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}
.button:hover,
.button:focus {
  background-color: var(--button-hover);
  cursor: pointer;
}
.error {
  position: absolute;
  bottom: -20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--error-color);
  margin: 0 0 1px 10px;
}
.wideFieldsSelect {
  width: 272px;
  font-size: 14px;
}
.wideFieldsInput {
  font-size: 14px;
  width: 214px;
}
.wideFieldsButton {
  width: 272px;
  padding: 11px 49px;
}

@media screen and (min-width: 1440px) {
  .formLandingForm {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .formLandingSelect {
    width: 280px;
    padding: 11px 0 11px 46px;
    margin: 0;
    font-size: 16px;
  }
  .formLandingInput {
    width: 233px;
    padding: 11px 0 11px 46px;
    margin: 0;
    font-size: 16px;
  }
  .button {
    width: 221px;
    padding: 11px 24px;
    margin: 0;
  }
}
