.registrFormContainer {
  padding: 16px;
  width: 343px;
  background-color: var(--bg-color);
}

.registrTitle {
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  color: var(--text-color-dark);
  margin-bottom: 24px;
}

.span {
  color: var(--accent-color-dark);
}

.selectUserTypeButtonContainer {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}

.switchUserTypeButton {
  width: 169.5px;
  height: 36px;
  border-radius: 6px;
  padding: 8px, 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  outline: none;
  border: none;
  background-color: var(--bg-color);
  color: var(--text-color-dark);
}

.activeButton {
  border: 1px solid var(--accent-color-dark);
  color: var(--accent-color-dark);
}

.registerFormFields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.registerFormFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.registerFormInputWrapper {
  position: relative;
}

.label {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  color: var(--text-color-gray);
}

.registerInput {
  width: 317px;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--input-def);
}

.registerInput::placeholder {
  color: var(--text-default);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.inputError {
  border: 1px solid var(--error-color);
  outline: none;
}

.toggleButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 12px;
  bottom: 9px;
  background-color: transparent;
  outline: none;
  border: none;
}

.passwordVisibleIcon {
  stroke: var(--text-default);
  stroke-width: 1px;
}

.emailError,
.passwordError,
.confirmPasswordError {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: var(--error-color) !important;
}

.registrButton {
  margin-bottom: 20px;
}
.button {
  padding: 13px 109.5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: var(--bg-color);
  background-color: var(--accent-color-dark);
  outline: none;
  border: none;
  border-radius: 8px;
  margin-bottom: 4px;
}

.privacyPolicy {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 20px;
}

.link {
  color: var(--accent-color-dark);
}
.googleLoginContainer {
  margin-bottom: 24px;
}
.enterNowText {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: var(--text-color-dark);
  margin-bottom: 4px;
}

.enterNow {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
}

.link {
  text-decoration: underline;
}

@media screen and (min-width: 1440px) {
  .registrFormContainer {
    width: 304px;
    padding: 40px 66.5px 32px 66.5px;
    border-radius: 18px;
  }

  .registrTitle {
    width: 309px;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 40px;
  }

  .selectUserTypeButtonContainer {
    margin-bottom: 24px;
  }

  .switchUserTypeButton {
    width: 150px;
    padding-right: 0;
    padding-left: 0;
  }

  .registerFormFields {
    gap: 16px;
    margin-bottom: 24px;
  }

  .registerInput {
    width: 278px;
  }

  .toggleButton {
    width: 24px;
    height: 24px;
  }

  .registrButton {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
  }

  .button {
    padding: 13px 90px;
  }

  .privacyPolicy {
    margin-bottom: 24px;
  }

  .enterNowText {
    margin-bottom: 24px;
  }

  .googleLoginContainer {
    margin-bottom: 40px;
  }
}
