.notification {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  color: var(--accent-color-dark);
  margin-bottom: 12px;
}
.heroWrapper {
  padding: 16px 16px 0 16px;
}
.heroContainer {
  padding: 32px 23px 24px 23px;
  background-color: var(--accent-color-dark);
  border-radius: 20px;
}
.heroBox {
  padding: 0 16px;
  margin-bottom: 32px;
}
.heroTitle {
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
  text-align: left;
  color: var(--text-color-white);
  margin-bottom: 12px;
}
.time {
  padding: 4px 36px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: var(--text-color-white);
  text-align: center;
  border: 1px solid var(--text-color-white);
  border-radius: 40px;
  display: inline-block;
  vertical-align: middle;
}
.heroText {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: left;
  color: var(--text-color-white);
  width: 240px;
}
.heroDog {
  display: none;
}
.heroForm {
  padding: 16px 12px;
  background-color: var(--bg-color);
  border-radius: 12px;
}
.imageContainer {
  display: none;
}

@media screen and (min-width: 1440px) {
  .notification {
    display: none;
  }
  .heroWrapper {
    padding: 0 72px;
    background-color: var(--bg-color);
  }
  .heroContainer {
    width: 1177px;
    padding: 64px 34px 64px 85px;
    border-radius: 40px;
    display: flex;
    align-items: flex-end;
    gap: 46px;
  }
  .heroBox {
    padding: 0;
    margin: 0;
  }
  .heroTitle {
    font-size: 64px;
    line-height: 89.6px;
    margin-bottom: 16px;
  }
  .time {
    display: none;
  }
  .heroTitle::after {
    content: "24/7";
    padding: 1px 24px;
    font-size: 32px;
    font-weight: 400;
    line-height: 44.8px;
    color: var(--text-color-white);
    text-align: center;
    border: 1px solid var(--text-color-white);
    border-radius: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  .heroText {
    width: 765px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 48px;
  }
  .heroForm {
    padding: 16px 24px;
    width: 819px;
  }
  .imageContainer {
    display: block;
    position: relative;
  }
  .heroDog {
    display: block;
    width: 255px;
    height: 271px;
    transform: scaleX(-1);
  }
  .heroDecor {
    width: 255px;
    height: 68px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(1.63deg);
  }
  .heroDesktopNotification {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: center;
    padding: 6px 24px;
    border-radius: 40px;
    color: var(--accent-color-dark);
    background-color: var(--bg-color);
    position: absolute;
    top: -44px;
    right: -2px;
  }
  .iconHeroDesktopNotification {
    width: 20px;
    height: 32px;
    position: absolute;
    top: -16px;
    left: 28px;
  }
}
