.modalMenuContainer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 343px;
  padding: 16px 16px 32px 16px;
  min-height: 95vh;
  max-height: 662px;
  background-color: var(--bg-color);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeInRight 0.6s forwards;
}
.modalMenuLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.iconLogo {
  fill: var(--accent-color-dark);
  stroke: var(--accent-color-dark);
}
.buttonClose {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.iconClose {
  stroke: var(--text-color-dark);
  transition: stroke 0.3s ease;
}
.buttonClose:hover .iconClose {
  stroke: var(--accent-color-light);
}
.navigationList {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
.navListItem {
  font-size: 16px;
  color: var(--text-color-dark);
  font-weight: 600;
  line-height: 22.4px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.navListItem:hover {
  color: var(--accent-color-dark);
}
.headerAuthLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.linkAuth {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: center;
  color: var(--accent-color-dark);
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--accent-color-dark);

  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}
.linkAuthRegister {
  background-color: var(--accent-color-dark);
  color: var(--bg-color);
}
.headerAuthLinks .linkAuth:first-child {
  padding-left: 147px;
  padding-right: 147px;
}
.headerAuthLinks .linkAuth:last-child {
  padding-left: 109px;
  padding-right: 109px;
}
.linkAuth:hover {
  border: 1px solid var(--button-hover);
  background-color: var(--button-hover-background);
}
.linkAuth:focus {
  color: var(--bg-color);
  border: 1px solid transparent;
  background-color: var(--button-hover);
}
.linkAllVeterinarians:hover {
  border: 1px solid var(--button-hover);
  background-color: var(--button-hover-background);
}
.linkAllVeterinarians:focus {
  color: var(--bg-color);
  border: 1px solid transparent;
  background-color: var(--button-hover);
}
.linkAllVeterinarians:focus .iconLogin {
  stroke: var(--bg-color);
}
