.modalMenuContainer {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100vh - 128px);
  max-width: 375px;
  min-height: 385px;
  background-color: var(--bg-color);
  z-index: 2;
  padding-top: 143px;
}
.buttonClose {
  position: absolute;
  top: -48px;
  right: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.iconClose {
  stroke: var(--accent-color-dark);
  transition: stroke 0.3s ease;
}
.buttonClose:hover .iconClose {
  stroke: var(--accent-color-light);
}
.navigationList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.navListItem {
  font-size: 16px;
  color: var(--text-color-dark);
  font-weight: 600;
  line-height: 22.4px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.navListItem:hover {
  color: var(--accent-color-dark);
}
