@media screen and (min-width: 1440px) {
  .consultationHistoryContainer {
    position: relative;
  }

  .folder {
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    stroke: var(--input-def);
    margin-bottom: 24px;
  }

  .consultationHistoryBox {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(calc(-50% + 140px), -50%);
    width: 441px;
  }
  .consultationHistoryTitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: var(--text-color-dark);
    margin-bottom: 8px;
  }

  .consultationHistoryText {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    color: var(--text-color-dark);
    margin-bottom: 32px;
  }

  .linkVeterinarians {
    width: max-content;
    display: block;
    margin: 0 auto;
    padding: 13px 51px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: center;
    color: var(--accent-color-dark);
    border: 1px solid var(--accent-color-dark);
    border-radius: 8px;
  }
}
