.vetScheduleContainer {
  padding-top: 24px;
}
.vetScheduleTime {
  width: 100%;
  padding: 12px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color-light-blue);
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: var(--color-gray-form);
  cursor: pointer;
}
.vetScheduleMoreAboutFreeTime {
  width: 100%;
  padding: 13px;
  background-color: var(--bg-color-list);
  border: 1px solid var(--accent-color-dark);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: var(--accent-color-dark);
  cursor: pointer;
}
