@media screen and (min-width: 1440px) {
    .container {
        background-image: -webkit-image-set(
          url('../../assets/Images/owner-background@1x.png') 1x,  /* для 1x екранів */
          url('../../assets/Images/owner-background@2x.png') 2x  /* для 2x екранів */
        );
        background-image: image-set(
          url('../../assets/Images/owner-background@1x.png') 1x,  /* для 1x екранів */
          url('../../assets/Images/owner-background@2x.png') 2x  /* для 2x екранів */
        );
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 1441px;
        height: 825px;
        position: relative;
      }

      .form {
        position: absolute;
        top: 40px;
        right: 64px;
      }
}