@media screen and (min-width: 1440px) {
  .registerPagecontainer {
    padding: 41px 110px 39px 893px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .ownerBackground {
    background-image: -webkit-image-set(
      url("../../assets/Images/owner-background@1x.png") 1x,
      url("../../assets/Images/owner-background@2x.png") 2x
    );
    background-image: image-set(
      url("../../assets/Images/owner-background@1x.png") 1x,
      url("../../assets/Images/owner-background@2x.png") 2x
    );
  }

