.userPanelContainer {
  padding: 32px 16px;
}

@media screen and (min-width: 1440px) {
  .userPanelContainer {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
  }

  .mainContent {
    position: relative;
    grid-column: 2;
  }
}
