.mainContentMob {
  padding: 16px;
}

@media screen and (min-width: 1440px) {
  .userPanelContainer {
    position: relative;
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
  }
  .mainContentDesktop {
    position: relative;
    grid-column: 2;
    overflow-y: auto;
    padding: 32px;
  }
}
