.registrContainer {
}

@media screen and (min-width: 1440px) {
  .registrContainer {
    width: 437px;
    /* убрать высоту после доб контента */
    height: 825px;
    padding: 41px 110px 39px 893px;
    background-image: url("../../assets/Images/owner-background@1x.jpg");
  background-repeat: no-repeat;
}
}
