.layoutContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  padding-top: 68px; 
}

.noHeader {
  padding-top: 0; 
}

@media screen and (min-width: 1440px) {
  .content {
    padding-top: 86px; 
  }

  .noHeader {
    padding-top: 0;
  }
}
