.heroImageContainer {
  display: none;
}
@media screen and (min-width: 1440px) {
  .heroImageContainer {
    display: block;
    padding: 24px 73px;
  }
  .image {
    width: 1294px;
    height: 358px;
    border-radius: 40px;
  }
}
