.headerContainer {
  width: 343px;
  height: 36.5px;
  padding: 16px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9999;
  /* border-bottom: 0.5px solid var(--accent-color-light); */
}
.icon {
  fill: var(--accent-color-dark);
  stroke: var(--accent-color-dark);
}
.buttonMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.iconBurger {
  stroke: var(--accent-color-dark);
  transition: stroke 0.3s ease;
}
.buttonMenu:hover .iconBurger {
  stroke: var(--accent-color-light);
}
.navigationList {
  display: none;
}

@media screen and (min-width: 1440px) {
  .headerContainer {
    width: 1296px;
    padding: 32px 72px;
  }
  .icon {
    width: 196px;
    height: 38px;
  }
  .buttonMenu {
    display: none;
  }
  .navigationList {
    display: flex;
    gap: 72px;
  }
  .navListItem {
    font-size: 16px;
    color: var(--text-color-dark);
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .navListItem:hover {
    color: var(--accent-color-dark);
  }
}
