.vetPageConteiner {
  padding: 16px 16px 24px 16px;
  background-color: var(--bg-color);
}
.vetPageDeskr {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}
.vetPageNav {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-medium-gray);
  margin-bottom: 20px;
}
.iconArrow {
  stroke: var(--text-color-gray);
  width: 24px;
  height: 24px;
}
.vetPageLinksWrapper {
  margin-bottom: 16px;
  border-bottom: 1px solid var(--button-hover-background);
}
.vetPageLinks {
  display: flex;
  width: 343px;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color-light-blue);
  margin-bottom: 24px;
}
.vetPageLink {
  flex: 1;
  padding: 8px 3px;
  font-weight: 500;
  font-size: 15.7px;
  line-height: 140%;
  text-align: center;
  color: var(--color-medium-gray);
  background-color: var(--bg-color);
}
.active {
  flex: 1;
  padding: 8px 3px;
  font-weight: 500;
  font-size: 15.7px;
  line-height: 140%;
  text-align: center;
  color: var(--accent-color-dark);
  border-bottom: 1px solid var(--accent-color-dark);
  background-color: var(--bg-color-list);
}

@media screen and (min-width: 1440px) {
  .vetPageConteiner {
    padding: 32px 72px;
    display: flex;
    gap: 147px;
  }
  .vetPageDeskr {
    gap: 32px;
  }
  .vetPageNav {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: var(--color-medium-gray);
    margin-bottom: 32px;
  }
  .iconArrowDesk {
    stroke: var(--text-color-gray);
    width: 20px;
    height: 20px;
  }
  .vetPageLinksWrapper {
    width: 684px;
    margin-bottom: 32px;
  }
  .vetPageLinks {
    width: 684px;
  }
  .vetPageLink {
    font-size: 18px;
  }
  .active {
    font-size: 18px;
  }
}
