.VetCardContainer {
  padding: 24px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color-light-blue);
  border-radius: 12px;
  z-index: 1;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .iconArrowleft {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: var(--accent-color-dark);
    transition: fill 0.3s ease;
  }
  .iconArrow {
    width: 24px;
    height: 24px;
    fill: var(--accent-color-dark);
    transition: fill 0.3s ease;
  }
  .linkAllVeterinarians:hover,
  .linkAllVeterinarians:active {
    text-decoration: underline;
    color: var(--accent-color-light);
    cursor: pointer;
  }
  .linkAllVeterinarians:hover .iconArrowleft {
    fill: var(--accent-color-light);
    cursor: pointer;
  }
}
